<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell small-12" [class.medium-6]="selectedHero">
      <h4>My Heroes</h4>
      <ul class="heroes">
        <li
          *ngFor="let hero of heroes"
          (click)="onSelect(hero)"
          [class.selected]="hero === selectedHero">
          <span class="badge">{{ hero.id }}</span> {{ hero.name }}
        </li>
      </ul>
    </div>
    <app-hero-detail [hero]="selectedHero"></app-hero-detail>
  </div>
</div>
