@import '~src/scss/variables';

.selected {
  background-color: #CFD8DC;
  color: $white;
}

.heroes {
  list-style-type: none;
  margin: 0 0 2em 0;
  padding: 0;
  width: 15em;

  li {
    background-color: #EEE;
    border-radius: 4px;
    cursor: pointer;
    height: 1.6em;
    left: 0;
    margin: .5em;
    padding: .3em 0;
    position: relative;

    &:hover {
      background-color: #DDD;
      color: $light-gray-color;
      left: .1em;
    }

    &.selected:hover {
      background-color: #BBD8DC;
      color: $white;
    }
  }

  .text {
    position: relative;
    top: -3px;
  }

  .badge {
    background-color: $light-gray-color;
    border-radius: 4px 0 0 4px;
    color: #fefefe;
    font-size: small;
    margin-right: .8em;
    padding: .3em .7em 0 .7em;
    position: relative;
    top: -4px;
  }

}
