@import '~src/scss/variables';

.selected {
  background-color: darken($light-gray, 7.5%);
  color: $white;
}

.heroes {
  margin: 0 0 2em;
  padding: 0;
  width: 15em;

  li {
    align-items: center;
    background-color: $light-gray;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    margin-bottom: .5rem;
    transition: .5s;

    &:hover {
      background-color: darken($light-gray, 5%);
      color: $light-gray-color;
      left: .1em;
    }

    &.selected:hover {
      background-color: darken($light-gray, 10%);
      color: $white;
    }
  }

  .badge {
    background-color: $light-gray-color;
    border-radius: 4px 0 0 4px;
    color: $white;
    font-size: .7rem;
    height: 100%;
    margin-right: .8em;
    padding: .5em .7em .4em;
    position: relative;
    top: 0;
  }
}
